# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

data/
test_data/
test_data_*/
benchmark_data/
visualize_data*
dask_benchmark_data/
real_data/
ml_example_data/
test_ml_data/
demo_test/

# Data files
*.bin
*.dat
*.hdf5
*.h5